body {
    background-color: bisque;
}

.object {
    width: 50px;
    height: 50px;
    background-color: brown;
    /*
    transition-property: background-color transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(1, 0, 0.17, 1);
    */
    transition: all 2s 1s cubic-bezier(1, 0, 0.17, 1);
}

.object:hover {
    transform: translate(25rem, 5rem) scale(3, 5) rotate(45deg);
    background-color: blue;
}

.object2 {
    width: 50px;
    height: 50px;
    background-color: rgb(112, 167, 25);
    border: 1px solid;
}

.object2:hover {
    /*
    animation-name: sample;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    */
    animation: sample 2s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
    animation-iteration-count: 2;
    animation-direction: reverse;
    animation-fill-mode: both; /*que quiero que haga al finalizar */
}

@keyframes sample {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: rgb(214, 56, 154);
    }
    100% {
        transform: scale(3) rotate(45deg);
        background-color: blue;
    }
}

.object3 {
    width: 50px;
    height: 50px;
    background-color: rgb(196, 5, 154);
    border-radius: 50%;
    animation: sample3 2s cubic-bezier(0.5, 0, 0.5, 1) 0.2s 4 alternate both;
}

@keyframes sample3 {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: rgb(214, 56, 154);
    }
    100% {
        transform: scale(3) rotate(45deg);
        background-color: blue;
    }
}

.object3 {
    width: 50px;
    height: 50px;
    background-color: rgb(196, 5, 154);
    border-radius: 50%;
    animation: sample3 2s cubic-bezier(0.5, 0, 0.5, 1) 0.2s 4 alternate both;
}

@keyframes sample3 {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: rgb(214, 56, 154);
    }
    100% {
        transform: scale(3) rotate(45deg);
        background-color: blue;
    }
}

.object4 {
    --duration: 2sg;
}

.object4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-attachment: blue;
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 11%,
        rgb(94, 116, 214) 100%
    );

    animation: sample4 4s cubic-bezier(0.5, 0, 0.5, 1) 0.2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: both; /*que quiero que haga al finalizar */
}

@keyframes sample4 {
    25% {
        transform: translate(10rem, 0rem);
        transition-duration: var(--duration);
    }

    50% {
        transform: translate(10rem, 10rem);
        transition-duration: calc(var(--duration) 2 *);
    }

    75% {
        transform: translate(0rem, 10rem);
        transition-duration: var(--duration);
    }
    100% {
        transform: translate(0rem, 0rem);
        transition-duration: var(--duration);
    }
}
