body {
    background-color: bisque;
}

section {
    span {
        display: inline-block;
        width: 50%;
        height: 3rem;
        background-color: brown;
        border: 2px solid;
    }
}
span:nth-of-type(2n) {
    background-color: orange;
    padding: 5rem;
}
