.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 3fr; /* aquí sólo defino cómo quiero que sean las dos primeras y el resto lo hace auto*/
    grid-auto-rows: 5rem;
    gap: 1rem;
}
p {
    padding: 1rem;
}
/* me refiero a las párrafos por su posición */
p:nth-of-type(3) {
    background-color: rgba(8, 189, 113);
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

p:nth-of-type(2) {
    background-color: rgba(219, 159, 167);
    grid-column: -1 / -3; /* igual que decir -1 / -2 */
    grid-row: 1 / 3;
    z-index: 1; /* hace que se coloque delante */
}
