* {
    box-sizing: border-box;
}

body {
    margin-inline: 2rem;
}

p {
    padding: 1rem;
}

section.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 5rem;
    gap: 1rem;

    p:nth-of-type(3) {
        background-color: rgba(255, 228, 196);
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }

    p:nth-of-type(2) {
        background-color: brown;
        color: bisque;
        grid-column: -1 / -3;
        grid-row: 1 / 3;
        z-index: 1;
        anchor-name: --red-p;
    }

    p:nth-of-type(5) {
        color: crimson;
        background-color: rgba(122, 111, 50, 0.566);
        position: relative;
        top: -80px;
        left: -80px;
    }
}

section.icon {
    min-height: 3rem;
    border: 1px solid;
    border-radius: 3rem;
    position: relative;

    p:first-child {
        background-color: rgba(203, 129, 76, 0.542);
        border-radius: 50%;
        position: absolute;
        top: -2rem;
        left: 50%;
    }

    p:nth-of-type(2) {
        background-color: rgba(10, 53, 10, 0.467);
        border-radius: 50%;
        /* position: absolute; */
        position: fixed;
        position-anchor: --red-p;
        /* top: anchor(--red-p center);
        right: anchor(--red-p center); */
        position-area: center center;
        z-index: 2;
    }
}

section.columns {
    .text-wrapper {
        columns: 3;
        column-gap: 2rem;
        column-rule: 1px solid grey;
    }
    p {
        margin-block-start: 0;
        margin-block-end: 1.5rem;
        padding: 0;
    }
    img {
        width: 100%;
    }
}
