body {
    background-color: bisque;
}

header,
footer,
section {
    border: 1px solid gray;
    div {
        margin: 2rem;
        border: 1px solid;
        text-align: center;
        border-radius: 10px;
    }
}

header,
footer {
    min-height: 20vh;
}

section {
    min-height: 60vh;
    width: 50%;
    /* display: inline-block; */
    float: left;
}
/* section:nth-of-type(2) {
    margin-left: -5px;
} */

div.clearfix {
    clear: both;
}

img {
    float: right;
    margin: 1rem;
}
