/* Selectores */

/* Selector de etiqueta*/

h1,
h2,
h3 {
    color: brown;
}

/* Selector de clase */

.interesting {
    color: chartreuse;
    background-color: black;
}

/* [class='sports']  */
.sports {
    font-size: 1.2rem;
}

/* Selectores de atributo*/

[title] {
    color: chocolate;
}

[title="Párrafo muy interesante"] {
    background-color: rgb(197, 222, 223);
}

/* que empiece por */
[title^="Párrafo"] {
    /* las propiedades que elija */
}

/* que contenga */
[title*="Párrafo"] {
    /* las propiedades que elija */
}

/* que termine por */
[title$="Párrafo"] {
    /* las propiedades que elija */
}

/* Selector de Id */

#p1 {
    color: blueviolet;
}

/* Alternativa con atributos

[id='p1'] {
    color: blueviolet;
} */

/* Selectores Combinados */

/* 
Descendiente: espacio
Hijo >
Hermano ~ 
Hermano siguiente o adyacente + */

article p {
    text-decoration: underline;
}

article > p {
    font-weight: bold;
}

article ~ p {
    color: crimson;
}

article + p {
    background-color: bisque;
}

aside {
    background-color: darkkhaki;

    & > p {
        color: darkblue;
        font-weight: bold;
    }
}

section {
    position: relative;
}

section::after {
    content: "";
    background-color: blueviolet;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5; /* puede ser cualquier num porque es una capa */
}

::first-letter {
    font-size: 2rem;
}
::first-line {
    text-decoration: dashed;
}

button:hover {
    background-color: aqua;
}

/*elementos que estando dentro de algo están en 2 posición, cualquier cosa */
:nth-child(2)

/* los párrafos que sean el segundo contando solo párrafos */
p:nth-of-type(2)
a:not(:last-of-type) {
    border-left: 1px black;
}

/*selectores muy modernos, muy potentes */
section:has(.sports) {
    border: solid 8px pink;
}

:is (section, article) :is(h1, h2) {
}
