/* Desktop first o diseño descendente

body {
    margin: 2rem;
    background-color: bisque;
}

@media (max-width: 800px) {
    body {
        background-color: brown;
    }
}

@media (max-width: 400px) {
    body {
        background-color: chocolate;
    }
} */

/* Mobile first o diseño ascendente */

:root {
    --font-base: "Roboto", sans-serif;
    --font-tech: "Chakra Petch", sans-serif;
}

body {
    font-family: var(--font-base);
    background-color: bisque;
    min-width: 260px;

    /* @media (width > 400px) {
        background-color: brown;
    } */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--font-tech);
}

img {
    margin: 0.5rem auto;
}

nav {
    max-width: 900px;
    margin: 0 auto;
    padding-inline: 2rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

header {
    background-color: brown;
    color: bisque;
    padding: 2rem;
    nav {
        position: sticky;
        top: 0;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        [class*="fa-bars"] {
            font-size: 2rem;
        }
        [class*="fa-linkedin"] {
            font-size: 1.5rem;
        }
        [class*="fa-github"] {
            font-size: 1.5rem;
        }
    }
}

.menu-tablet {
    display: none;
}

footer {
    /* background-color: brown;
     position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    text-align: center;
    padding-block-end: 1rem;
    /* padding-block-start: 1rem; */
}

main {
    margin: 1.9rem 2rem;

    h1,
    h2,
    h3 {
        font-family: var(--font-tech);
        padding-block: 1rem;
    }
}

.separator {
    width: 50%;
    margin: 2.5rem auto;
    border: 1px solid brown;
}

dialog {
    border: none;
    background-color: bisque;
    top: 5rem;
    left: 0;
    width: 50%;
    padding: 1rem;

    .close {
        text-align: right;
        button {
            padding: 0.5rem;
        }
    }
}

@media (width > 470px) {
    body {

    }
    header {
        .menu-mobile {
            display: none;
        }

        .menu-tablet {
            display: initial;
        }

        .menu-header {
            flex-basis: 100%;
            text-align: center;
            padding-block-end: 0.5rem;
            a {
                display: block;
                padding-block-end: 0.5rem;
            }
        }
    }
}

@media (width > 500px) {
    header nav ul {
        justify-content: center;
        column-gap: 1.5rem;
    }
}

@media (width > 650px) {
    body {
        background-color: rgb(117, 187, 100);
    }
    header {
        nav ul {
        align-items: baseline;
    }

    .main-img{
        float: right;
        padding-inline-start: 1rem;
        width: 50%;
    }
    .menu-header {
        flex-basis: auto;
        padding-block-end: 0rem;
        margin-inline-end: auto;

        a {
            display: initial;
            /* padding-block-end: 0.5rem; */
        }
    }
    .articles-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .final-content{
        columns: 2;
    }
}

/* @media (min-width: 700px) { */
@media (width > 700px) {
    body {
        background-color: rgb(237, 187, 126);
    }

    .articles-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .final-content{
        columns: 2;
    }
}

/* @media (min-width: 800px) { */
@media (width > 1000px) {
}
