/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh; /* lo añade @midu.dev */
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto; /* lo añade @midu.dev */
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}
/* 7. Avoid text overflows  evita que si la línea es muy larga no corte y deje solo una palabra*/
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}
/* 8. Improve line wrapping */
p {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* 10.lo añade @midu.dev */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
